{{- $title := .Title -}}
{{- $siteTitle := .Site.Title -}}

{{- if .IsHome -}}
    {{/* Homepage, and it's pagination */}}

    <!-- Build paginator -->
    {{ $pages := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    {{ if .Paginator.HasPrev }}
        {{/* Paginated. Append page number to title */}}
        {{ $title = printf "%s | %s" .Paginator $siteTitle }}
    {{ else }}
        {{ $title = $siteTitle }}
    {{ end }}

{{- else if eq .Kind "term" -}}
    {{/* Taxonomy term page */}}

    {{/* {TAXONOMY_TYPE}: {TAXONOMY_TERM} */}}
    {{ $title = printf "%s: %s" (title .Data.Singular) $title }}

    {{ $title = printf "%s | %s" $title $siteTitle }}

{{- else if eq .Kind "taxonomy" -}}
    {{/* Taxonomy listing page */}}
    {{ $title = .Title }}
    {{ $title = printf "%s | %s" $title $siteTitle }}

{{- else if and (eq .Type "glossary") (eq .Kind "section") -}}
    {{/* Glossary listing */}}
    {{ $title = printf "%s | %s" $title $siteTitle }}

{{- else if and (eq .Type "glossary") (eq .Kind "page") -}}
    {{/* Glossary term page */}}
    {{ $title = printf "%s | %s | %s" $title (T "glossaryTitle") $siteTitle }}

{{- else if ne $title $siteTitle -}}
    {{/* Default content pages */}}
    {{ $title = printf "%s | %s" $title $siteTitle }}
{{- end -}}

{{ return $title }}
