{{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
{{- $Permalink := .Destination | relURL | safeURL -}}
{{- $alt := .PlainText | safeHTML -}}
{{- $Width := 0 -}}
{{- $Height := 0 -}}
{{- $Srcset := "" -}}

{{/* SVG and external images won't work with gallery layout, because their width and height attributes are unknown */}}
{{- $galleryImage := false -}}

{{/* Determine if we can offer a WebP alternative */}}
{{- $ext := path.Ext .Destination | lower -}}
{{- $isConvertible := or (eq $ext ".png") (eq $ext ".jpg") (eq $ext ".jpeg") -}}
{{- $isExternal := or (hasPrefix .Destination "http://") (hasPrefix .Destination "https://") -}}
{{- $useWebP := and $isConvertible (not $isExternal) -}}
{{- $webpSrc := "" -}}
{{- if $useWebP -}}
	{{- $webpSrc = printf "%s.webp" (strings.TrimSuffix $ext (.Destination | relURL)) | safeURL -}}
{{- end -}}

{{- if $image -}}
	{{- $notSVG := ne (path.Ext .Destination) ".svg" -}}
	{{- $Permalink = $image.RelPermalink -}}

	{{- if $notSVG -}}
		{{- $Width = $image.Width -}}
		{{- $Height = $image.Height -}}
		{{- $galleryImage = true -}}

		{{- if (default true .Page.Site.Params.imageProcessing.content.enabled) -}}
			{{- $small := $image.Resize `480x` -}}
			{{- $medium := $image.Resize `768x` -}}
			{{- $big := $image.Resize `1024x` -}}
			{{- $Srcset = printf `%s 480w, %s 768w, %s 1024w` $small.RelPermalink $medium.RelPermalink $big.RelPermalink -}}
		{{- end -}}
	{{- end -}}
{{- end -}}

{{ if $useWebP -}}
<picture>
	<source srcset="{{ $webpSrc }}" type="image/webp">
	<img src="{{ $Permalink }}"
		{{ with $Width }}width="{{ . }}"{{ end }}
		{{ with $Height }}height="{{ . }}"{{ end }}
		{{ with $Srcset }}srcset="{{ . }}"
		sizes="(max-width: 480px) 100vw, (max-width: 768px) 100vw, 720px"{{ end }}
		loading="lazy"
		{{ with $alt }}
			alt="{{ . }}"
		{{ end }}
		{{ if $galleryImage }}
			class="gallery-image"
			data-flex-grow="{{ div (mul $image.Width 100) $image.Height }}"
			data-flex-basis="{{ div (mul $image.Width 240) $image.Height }}px"
		{{ end }}
	>
</picture>
{{- else -}}
<img src="{{ $Permalink }}"
	{{ with $Width }}width="{{ . }}"{{ end }}
	{{ with $Height }}height="{{ . }}"{{ end }}
	{{ with $Srcset }}srcset="{{ . }}"
	sizes="(max-width: 480px) 100vw, (max-width: 768px) 100vw, 720px"{{ end }}
	loading="lazy"
	{{ with $alt }}
		alt="{{ . }}"
	{{ end }}
	{{ if $galleryImage }}
		class="gallery-image"
		data-flex-grow="{{ div (mul $image.Width 100) $image.Height }}"
		data-flex-basis="{{ div (mul $image.Width 240) $image.Height }}px"
	{{ end }}
>
{{- end }}
