{{- $query := first 1 (where .Context.Site.Pages "Layout" "==" "search") -}}
{{- if $query -}}
    {{- $searchPage := index $query 0 -}}
    <form action="{{ $searchPage.RelPermalink }}" class="search-form widget" {{ with .OutputFormats.Get "json" -}}data-json="{{ .Permalink }}" {{- end }}>
        <p>
            <label for="sidebar-search-input">{{ T "search.title" }}</label>
            <input id="sidebar-search-input" type="search" name="keyword" required placeholder="{{ T `search.placeholder` }}" />
        
            <button type="submit" title="{{ T `search.title` }}" aria-label="{{ T `search.title` }}">
                {{ partial "helper/icon" "search" }}
            </button>
        </p>
    </form>
{{- else -}}
    {{- warnf "Search page not found. Create a page with layout: search." -}}
{{- end -}}
