{{ define "main" }}
    {{ $pag := partial "helper/paginator.html" . }}

    {{ if eq $pag.PageNumber 1 }}
        {{ partial "home-projects.html" . }}
    {{ else }}
        {{ partial "disclosure.html" (dict "Context" . "Variant" "home") }}
    {{ end }}

    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" (dict "context" $element "isLCP" (eq $index 0)) }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
