{{ define "main" }}
    {{ $pag := partial "helper/paginator.html" . }}

    {{ partial "disclosure.html" (dict "Context" . "Variant" "home") }}

    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" (dict "context" $element "isLCP" (eq $index 0)) }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partialCached "footer/footer" . .Language.Lang -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
